<!DOCTYPE html>
<html lang="zh-CN">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>聊天室</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/web_chat.css" rel="stylesheet">

</head>
<body>

    <div class="web-chat">
        <div class="chat-box row">
            <div>
      <!-- Nav tabs -->
              <ul class="nav nav-tabs" style="background-color: #fff;" role="tablist">
                <li role="presentation" chat-type="contact_list" contact-type="single_contact" class="active"><a href="#contacts" onclick="LoadContacts();CheckNewMsg(this);"  role="tab" data-toggle="tab">联系人</a></li>
                <li role="presentation" chat-type="group_list" contact-type="group_contact"><a href="#contacts" onclick="LoadContacts();CheckNewMsg(this);"  role="tab" data-toggle="tab">群组</a></li>
                <li role="presentation"><a href="#notifications" role="tab" data-toggle="tab">通知</a></li>
                <li role="presentation"><a href="#settings" role="tab" data-toggle="tab">设置</a></li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="contacts">
                  <div class="wrap">
                    {#            好友列表#}
                    <div class="chat-list  col-md-3">
                        <div class="user-info">
                            <header class="user-name">{{ request.user.userprofile.name }}</header>
                        </div>
                        <div class="friend-list border-shadow">
                            <div class="list-group"></div>
                        </div>
                    </div>
        {#            聊天窗口#}
                    <div class="chat-content border-shadow col-md-9">
        {#                标题#}
                        <div class="chat-title"></div>
        {#                消息展示区#}
                        <div class="chat-message" style="overflow: auto;"></div>

        {#                消息输入区#}
                        <div id="chat-input" class="chat-input row hide">
                            <div class="input-text col-md-10" >
                                <textarea class="chat_textarea" style="height: 32px;"></textarea>
                            </div>
                            <div class="input-button col-md-2">
                                <button type="button" class="chat_button">
                                    <span class="btn_text">发送</span>
                                </button>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="groups">groups</div>
                <div role="tabpanel" class="tab-pane" id="notifications">tongzhi</div>
                <div role="tabpanel" class="tab-pane" id="settings">settings</div>
              </div>

            </div>


        </div>
    </div>






<script src="/static/bootstrap/js/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">

    //csrf token
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});//end  csrf




//页面加载完毕
$(document).ready(function () {

    GLOBAL_MESSAGE_CHANGE = {
        'single_contact': {},
        'group_contact':{}
    };
    //load contacts
    LoadContacts();
    //check new msg
{#    var RefreshNewMsg = setInterval(function(){#}
    CheckNewMsg();
{#    }, 3000);#}

    //sned msg
    $("body").delegate("textarea", "keydown", function (e) {

        //回车键按下发送数据到后台，以及将消息加载到页面
    if(e.which == 13){
        var msg_text = $("textarea").val();
        if ($.trim(msg_text).length > 0){

            SendMsg(msg_text);
            AddSendMsgIntoChatBox(msg_text);

        }
//如果输入的为空，就把内容置空
        $("textarea").val('');
    }
    });
});//end doc ready

    //set scroll is located  button
function SetScrollButton(){
    $('.chat-message').animate({
        scrollTop: $('.chat-message')[0].scrollHeight}, 500
    );//e
}


    //将接受的消息展示到聊天区
function AddRecvMsgIntoChatBox(msg_item){
    var msg_ele = "<div class='msg-item-recv'>" +
                    "<p class=msg-user>" + msg_item.from_name + "&nbsp;&nbsp;" + msg_item.time+ "</p>" +
                    "<p class=msg-content>" + msg_item.msg + "</p>" +
                  "</div>";

    $(".chat-message").append(msg_ele);
{#    $('.chat-message').animate({#}
{#        scrollTop: $('.chat-message')[0].scrollHeight}, 500#}
{#    );//e#}
    SetScrollButton();
}


function GenerateNewMsgHtml(msg_item){
    var msg_ele = "<div class='msg-item-recv'>" +
                    "<p class=msg-user>" + msg_item.from_name + "&nbsp;&nbsp;" + msg_item.time+ "</p>" +
                    "<p class=msg-content>" + msg_item.msg + "</p>" +
                "</div>";
    return msg_ele;
}



        //发送消息到聊天区
function AddSendMsgIntoChatBox(msg_text){

    var d = new Date();
    var send_time = d.getHours() +":" + d.getMinutes() + ":" + d.getSeconds();
    var msg_ele = "<div class='msg-item-send'>" +
                    "<p clss='send-font'>" + "{{ request.user.userprofile.name }}&nbsp;&nbsp;"+send_time +"</p>" +
                    "<p class=msg-content-send>" + msg_text + "</p>" +
                  "</div>";

    $(".chat-message").append(msg_ele);
{#    $('.chat-message').animate({#}
{#        scrollTop: $('.chat-message')[0].scrollHeight}, 500#}
{#    );//e#}
    SetScrollButton();
}

//从后台取到用户联系人信息
function LoadContacts(){
    $.get("{% url 'load_contacts_list' %}", function(callback){
{#        console.log(callback);#}
        var data = JSON.parse(callback);
        var current_type = $('.nav-tabs li').filter('.active')[0];
        var chat_type = $(current_type).attr("chat-type");
        var contact_type = $(current_type).attr("contact-type");
        $('.friend-list .list-group').empty();
        $.each(data[chat_type], function (index, ele) {
            var user_html = "<a href='#' onclick='DialogWith(this);' class='list-group-item ' contact_id='"+ ele.id +
                                "'contact_type='"+ contact_type +"'>" + ele.name + "<span class='badge'>0</span></a>";
{#            console.log(user_html);#}
            $('.friend-list .list-group').append(user_html);
        });  //end each
    }); //end get msg
}



function UpdateUnreadMsgNums(contact_id, contact_type){
        var msg_nums = $(".list-group a[contact_id='"+ contact_id +"']").find("span")[0];
        $(msg_nums).text( parseInt($(msg_nums).text()) + 1);
        $(msg_nums).removeClass('hide');
    }



{#点击生成对话框#}
function DialogWith(ths){
    $('#chat-input').removeClass('hide');
    var contact_id = $(ths).attr("contact_id");
    var contact_type = $(ths).attr("contact_type");
        $(ths).find('span').text(" ");
    var contact_name = $(ths).text();

    //dump talk message to GLOBLE_MESSAGE
    DumpSession();
    var talkwith = "<div class='chat-title-font' contact_id='" +contact_id+ "'contact_type='"+ contact_type +"' >" + contact_name +
                    "</div>";
    $('.chat-title').html(talkwith);

    $('.chat-message').html(LoadSession(contact_id,contact_type));
    var unread_msg_nums = $(ths).find('span')[0];
    $(unread_msg_nums).text(0);
    $(unread_msg_nums).addClass('hide');
    SetScrollButton();

}

    //将对话的信息保存到全局字典中
function DumpSession(){
    var contact_id = $('.chat-title-font').attr('contact_id');
    var contact_type = $('.chat-title-font').attr('contact_type');
    var msg_html = $('.chat-message').html();
    if(contact_id){
        GLOBAL_MESSAGE_CHANGE[contact_type][contact_id] = msg_html
    }
}


function DumpSession2(contact_id,contact_type,contact_new_html){

    if(contact_id){
        GLOBAL_MESSAGE_CHANGE[contact_type][contact_id] = contact_new_html;
    }
}

function LoadSession(contact_id,contact_type){

    if(GLOBAL_MESSAGE_CHANGE[contact_type].hasOwnProperty(contact_id)){
        var msg_html = GLOBAL_MESSAGE_CHANGE[contact_type][contact_id];
    }else{
        var msg_html = '';
    }
{#    $('.chat-message').html(msg_html);#}

{#    SetScrollButton();#}
    return msg_html

}


{#发送消息到后台        #}
function SendMsg(msg_text){

    var contact_id = $('.chat-title-font').attr('contact_id');
    var contact_type = $('.chat-title-font').attr('contact_type');
    var msg_dic = {
        'contact_type': contact_type,
        'to': contact_id,
        'from': '{{ request.user.userprofile.id }}',
        'from_name': '{{ request.user.userprofile.name }}',
        'msg':msg_text
    };
    $.post("{% url 'send_msg' %}", {'data': JSON.stringify(msg_dic)}, function(callback){
        console.log(callback)
    }); //end post

}




//检查有无新的消息
function CheckNewMsg(ths){
    var current_type = $('.nav-tabs li').filter('.active')[0];
    var chat_type = $(current_type).attr("chat-type");
    var c_type = $(ths).parent().attr('contact-type');
    console.log("chat_type---->",c_type);
    $.get("{% url 'check_msg' %}",{'contact_type':JSON.stringify(c_type)}, function(callback){
        console.log(callback);  //去后台拿新的数据
        var msg_list = JSON.parse(callback);
        var open_session_id = $('.chat-title-font').attr('contact_id'); // 获取打开的联系人id
        var open_session_type = $('.chat-title-font').attr('contact_type');  // 获取打开的对话类型
        var dialog_type_user = 'single_contact';
        var dialog_type_group = 'group_contact';
        // 循环数据列表
        $.each(msg_list, function(index, msg_item){
            if(msg_item.contact_type == dialog_type_user){   //如果收到的对话类型为单人聊天类型
                if(msg_item.from == open_session_id){  //当前打开的联系人与收到消息的联系人相同
                    AddRecvMsgIntoChatBox(msg_item);
                }else{  //当前打开的联系人与收到消息的联系人不同
                    var old_load_html = LoadSession(msg_item.from, msg_item.contact_type);
                    var new_recv_html = GenerateNewMsgHtml(msg_item);
                    var new_dunm_html = old_load_html + new_recv_html;
                    DumpSession2(msg_item.from, msg_item.contact_type, new_dunm_html);  //将新的 旧的消息重新dump到字典
                    UpdateUnreadMsgNums(msg_item.from, msg_item.contact_type);
                }//end contact_id
            }//end contact_type
            else{
                if(msg_item.to == open_session_id){  //当前打开的联系人与收到消息的联系人相同
                    AddRecvMsgIntoChatBox(msg_item);
                }
                else{
                    var old_load_html2 = LoadSession(msg_item.to, msg_item.contact_type);
                    var new_recv_html2 = GenerateNewMsgHtml(msg_item);
                    var new_dunm_html2 = old_load_html2 + new_recv_html2;
                    DumpSession2(msg_item.to, msg_item.contact_type, new_dunm_html2);  //将新的 旧的消息重新dump到字典
                    UpdateUnreadMsgNums(msg_item.to, msg_item.contact_type);
                }
            }
        }); //end each
        //任务结束时回调自己继续发送新的请求
        CheckNewMsg();
    });//end get
}

    </script>

</body>
</html>