{% extends 'index.html' %}
{% block editor %}
    <script src="/static/plugins/ckeditor/ckeditor.js"></script>
{% endblock %}

{% block page-container %}


    <div class="article-new">
        {% if article_new_obj %}
        <div>
            <h3 style="color: green">Articles have been published. </h3>
            <a href="{% url 'article_detail' article_new_obj.id %}" style="font-size: 15px;">Click to view</a>

        </div>
        {% else %}
        <form enctype="multipart/form-data" method="post" action="{% url 'article_new' %}">
        {% csrf_token %}
            <input name="title" type="text" class="form-control" placeholder="Article Title">

            <select name="categroy_id" class="form-control">
                {% for item in article_list %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
            <input name="summary" type="text" class="form-control" placeholder="Article Summary">
            <input name="head_img" type="file" class="form-control" placeholder="Head Image(must choice)">
            <textarea id="ck-editor" name="content" class="form-control" rows="3"></textarea>
            <button style="margin-top: 10px;" type="submit" class="btn btn-danger pull-right">Submit</button>
        </form>
        {% endif %}
    </div>

{% endblock %}

{% block edit_js %}
    <script>
        CKEDITOR.replace( 'ck-editor' );

    </script>
{% endblock %}