{% extends 'index.html' %}
{% load comment_tag %}

{% block page-container %}

{#    文章标题#}
    <div class="article-detail">
        <h2>{{ article_obj.title }}</h2>
        <div class="article-author">
            <span>{{ article_obj.author }}</span>
            <span style="padding-left: 15px;">{{ article_obj.publish_date }}</span>
            <span style="padding-left: 15px;">评论:{{ article_obj.comment_set.select_related.count }}</span>
            <span style="padding-left: 15px;">点赞:{{ article_obj.thumup_set.select_related.count }}</span>
        </div>

{#    文章主内容#}
        <div class="article-content">
            <div>
                <img src="{{ article_obj.head_img }}">
            </div>
            <div>{{ article_obj.content|safe }}</div>
        </div>

{#    点赞#}
        <div class="article-thumup">
            <div id="thumup" class="thumup-icon" data-num="1" data-type="like">
                <i class="icon-article-zan"></i>
                <span class="num">{{ article_obj.thumup_set.select_related.count }}</span>
            </div>
        </div>

        <hr/>

    {#    评论区#}
        <div class="article-comment">
            <div class="comment-font">
                <span class="font-span" style="">发表评论</span>
            </div>
            <div class="author-info">
                <span style="font-size: 15px;">{{ article_obj.author.name }}</span>
            </div>
             <div class="comment-content">
                <textarea class="form-control" rows="10" placeholder="客官，8个字起评，不讲价哟"></textarea>
                 <button class="comment-submit" type="submit">发表</button>
            </div>
            <div class="comment-show">
                <a href="">默认评论</a>
                <a href="">最新评论</a>
            </div>

            <div>
                <div class="comment-domain">
                {% autoescape off %}
                    {% comment_tree article_obj.comment_set.select_related %}
                {% endautoescape %}
                </div>
            </div>
        </div>




    </div>
{% endblock %}


    {% block thumup_js %}
        <script type="text/javascript">

        var zan_setval = document.getElementById('thumup').dataset;
        var name = "{{ request.user }}";
        var article_id = {{ article_obj.id }};
{#        var urls = "/article/{{ article_obj.id }}/";#}
        var new_url = "{% url 'article_detail' article_obj.id %}";
        console.log(new_url);

        $('thumup').click(function() {
            $.ajax({
                url: new_url,
                type: 'POST',
                data: {'article': article_id, 'user': name},
                success: function (arg){

                }
            });
        })


        </script>
    {% endblock %}