<!DOCTYPE html>

<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/bootstrap/img/favicon.ico">
    <title>草榴社区</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/navbar-fixed-top1.css" rel="stylesheet">
    <link href="/static/bootstrap/css/custom.css" rel="stylesheet">
    <link href="/static/bootstrap/css/gotop.css" rel="stylesheet">

    {% block editor %}
    {% endblock %}
    <style>
    .new-tab{
        background-color: #0E6EBF;
        border-radius: 6px;
        margin: 0 50px;}
    .new-tab a{padding: 12px !important;}
    .new-color{color: #fff !important;}
    </style>

  </head>

  <body>

{#顶部栏栅#}
    <nav class="navbar navbar-default navbar-fixed-top" >
      <div class="container" style="height: 61px;">
        <div class="navbar-header" style="margin: 7px;">
          <a class="navbar-brand" style="font-size: 40px;font-family:Arial, Helvetica, sans-serif; font-weight: bold;" href="">天才在左</a>
        </div>
        <div id="navbar" style="height: 60px !important;" class="navbar-collapse collapse">

          <ul class="nav navbar-nav" style="font-size: 20px;margin: 5px 15px 15px 50px;">
            <li ><a href="{% url 'index' %}">综合区</a></li>
            <li><a href="{% url 'category' 1 %}">NBA</a></li>
            <li><a href="{% url 'category' 2 %}">段子</a></li>
            <li><a href="{% url 'category' 3 %}">图片</a></li>

          {% if request.user.is_authenticated %}
            <li class="new-tab"><a class="new-color" href="{% url 'article_new' %}" role="button">发帖</a></li>
            <li class="new-tab"><a class="new-color" href="{% url 'web_chat' %}" target="_blank"  role="button">聊天室</a></li>
          {% else %}
                <li class="new-tab"><a class="new-color" href="{% url 'login' %}"  role="button">发帖</a></li>
                <li class="new-tab"><a class="new-color" href="{% url 'login' %}"  role="button">聊天室</a></li>
          {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right" style="margin-top: 5px;margin-right: 0;">

            {% if request.user.is_authenticated %}

            <li class=" active dropdown " style="">
              <a href="" class="dropdown-toggle" style="border-radius: 7px;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ request.user.userprofile.name }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                <li><a href="{% url 'logout' %}">注销</a></li>
              </ul>
            </li>
            {% else %}
                <li><a href="{% url 'login' %}">注册/登录</a></li>
            {% endif %}

          </ul>

        </div>
      </div>
    </nav>


{#页面内容#}
    <div class="container">

        {% block page-container %}
            <div class="row">
{#            左侧的内容#}
            <div class="col-md-8 left-content-panel">
                    {% for article in articles reversed %}
{#                        文章标题图片#}
                        <div class="content-box row">
                        <div class="article-head-img " style="display: inline;">
{#                            <img src="/static/{{ article.head_img }}">#}
                            <a href="{% url 'article_detail' article.id %}">
                                <img src="{{ article.head_img }}" >
                            </a>
                        </div>
{#                        文章简介#}
                        <div class="article-summary ">
                            <h3><a href="{% url 'article_detail' article.id %}" class="transition"  >{{ article.title }}</a></h3>
                            <div class="article-attr">
                                <ul class="list-inline">
                                    <li>{{ article.author }}</li>
                                    <li>{{ article.publish_date }}</li>
                                    <li>{{ article.thumup_set.select_related.count }}</li>
                                    <li>{{ article.comment_set.select_related.count }}</li>
                                </ul>
                            </div>
                            <div class="article-about">{{ article.summary }}</div>
                        </div>
                        </div>
                    {% endfor %}

            </div>
                
{#                右侧的内容#}
            <div class="col-md-4 right-content-panel">
            </div>



            </div>

        {% endblock %}
    </div>


{#返回顶部#}
    <div class="back hide">
        <div class="gotop" onclick="GoTop();">
            <a class="icon"></a>
            <div class="content">
                <span>返回顶部</span>
            </div>
        </div>
    </div>


    <script src="/static/bootstrap/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap/js/gotop.js"></script>
    <script src="/static/bootstrap/js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript">



        $(document).ready(function(){

            var menus = $("#navbar a[href='{{ request.path }}']")[0];
            $(menus).parent().addClass("active");
            $(menus).parent().siblings().removeClass("active");
        });




    </script>
    {% block edit_js %}
    {% endblock %}

    {% block thumup_js %}
    {% endblock %}
</body>
</html>